body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.8rem;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 210px);
  gap: 0.8rem;
  padding: 0.2rem 0 0 0;
  position: relative;
}

.img {
  padding-left: 2.5rem;
}

img {
  padding-right: 2.2rem;
}
