body {
  margin: 0;
}

header {
  font-family: "Mulish", sans-serif;
  width: 100%;
  height: 176px;
}

header ul {
  list-style: none;
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 40px;
  position: relative;
}

.logo {
  font-size: 1.4rem;
  display: flex;
  box-sizing: border-box;
}

.logo img {
  width: 2.1rem;
  height: 2.2rem;
  padding-right: 0.3rem;
}

.logo a {
  text-decoration: none;
  color: rgb(237, 66, 100);
}

.main-nav {
  font-size: 0.9rem;
}

.main-nav ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.main-nav li {
  padding: 0 1rem;
}

.nav {
  color: rgb(126, 126, 126);
}

.details-nav ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.introduction {
  padding-right: 1rem;
}

.account {
  display: flex;
  align-items: center;
  border: 1px solid rgb(215, 214, 214);
  border-radius: 2rem;
  margin: 0 1rem;
  padding: 6px 10px 5px 12px;
}

.menu-burger svg,
.languages svg {
  width: 20px;
  height: 20px;
}

.my-account svg {
  padding-left: 0.5rem;
  width: 35px;
  height: 35px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 5rem;
  transform: translateX(25%);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px 1px rgb(225, 225, 225);
  border: 0.5px solid rgb(224, 224, 224);
  border-radius: 2rem;
  width: 850px;
  height: 66px;
  font-size: 0.8rem;
  font-weight: bold;
}

label {
  display: block;
}

input {
  font-size: 14px;
  padding: 3px 0 0 0;
  border: none;
  background-color: rgb(255, 255, 255);
}

.search-place,
.date-setting {
  padding: 14px 20px;
}

.search-place input {
  width: 262px;
  height: 18px;
}

.date-setting input {
  width: 82px;
  height: 18px;
}

.user-information {
  padding: 8px 0;
}

.about-guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-information svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 12px;
  background-color: rgb(237, 66, 100);
  border-radius: 2rem;
}

.user-information input {
  width: 150px;
  height: 18px;
}

hr {
  margin: 0;
  border-width: 1px 0 0 0;
  border-color: rgb(216, 216, 216);
  opacity: 0.2;
}

.shortcuts {
  display: flex;
  align-items: center;
}

.shortcut-contents {
  font-size: 12px;
  font-weight: bold;
  color: rgb(118, 118, 118);
  display: grid;
  grid-template-columns: repeat(12, 4.7rem);
  gap: 1rem;
  padding: 2rem 0 2rem 2rem;
  text-align: center;
}

.shortcut-contents svg {
  width: 1.7rem;
  height: 1.7rem;
  padding-bottom: 5px;
}

.next-icon svg {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(201, 200, 200);
  border-radius: 2rem;
  padding: 4px;
  margin-top: 5px;
}

.shortcuts-details {
  display: flex;
  align-items: center;
}

.filter {
  display: flex;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 12px;
  margin-left: 1rem;
  padding: 7px 13px;
  font-size: 12px;
  font-weight: bold;
}

.filter svg {
  width: 1.2rem;
  height: 1.2rem;
  padding: 7px 5px 5px 0;
}

.accomodation-contents {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  gap: 1.5rem;
  padding: 0 40px;
}

.accomodation-contents img {
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
}

.name {
  display: flex;
  justify-content: space-between;
}

.name svg {
  width: 15px;
  height: 15px;
}

.place {
  font-size: 1rem;
}

.record {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.data {
  font-size: 0.9rem;
  color: rgb(104, 104, 104);
}

@media (max-width: 48rem) {
  .navigation {
    display: none;
    padding: 0;
  }

  .search {
    top: 1rem;
    bottom: 0;
    transform: translateX(2%);
    width: 80%;
    height: 55px;
    padding: 0;
    margin-left: 0.8rem;
  }

  input,
  label,
  .user-information svg,
  hr {
    display: none;
  }

  .media-filter {
    display: block;
  }

  header {
    height: 5rem;
  }

  .shortcut-contents {
    padding: 5px 0 20px 0;
    gap: 0.5rem;
    grid-template-columns: repeat(12, 4.2rem);
    white-space: nowrap;
  }

  .accomodation-contents {
    grid-template-columns: repeat(2, 280px);
    padding: 0 20px;
  }

  .accomodation {
    padding-bottom: 20px;
  }
}

@media (max-width: 37rem) {
  .navigation {
    display: none;
    padding: 0;
  }

  .search {
    top: 1rem;
    bottom: 0;
    transform: translateX(2%);
    width: 80%;
    height: 55px;
    padding: 0;
    margin-left: 0.8rem;
  }

  input,
  label,
  .user-information svg,
  hr {
    display: none;
  }

  header {
    height: 5rem;
  }

  .shortcut-contents {
    padding: 5px 0 20px 0;
    gap: 0.5rem;
    grid-template-columns: repeat(12, 4.5rem);
    white-space: nowrap;
  }

  .accomodation-contents {
    grid-template-columns: 100%;
    padding: 0 20px;
  }

  .accomodation {
    padding-bottom: 20px;
  }
}
